<?xml version="1.0"?>
<model>
  <name>standard_sphere_blue</name>
  <version>0.2.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Miguel Angel Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>
  
  <description>
    Sphere 1kg
  </description>
</model>
